.register__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .2s;
  }
  
  .register__link:hover {
    opacity: .6;
    cursor: pointer;
  }