.login__title {
  margin: 60px 0 50px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  padding-top: 33px;
  padding-bottom: 35px;
  color: #fff;
  text-align: center;
  max-width: 100%;
  padding: 0;

}

@media screen and (max-width: 475px) {
  .login__title  {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    padding-bottom: 75px;
  }
}