.photos {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 50px;
    padding-bottom: 66px;
}

@media screen and (max-width: 580px) {
    .photos {
        padding-top: 36px;
        padding-bottom: 48px;
    }
}